.imageSection {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.img {
	width: 100%;
}

.imageWrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	width: 100%;
}

.left {
	background-color: #d1dfe5;
}

.right {
	background-color: #00a9e0;
}

@media (max-width: 960px) {
	.img {
		max-width: 100%;
	}

	.imageSection {
		flex-direction: column;
		max-width: 100%;
	}
	
	.imageWrapper {
		max-width: 100%;
	}
}