.desktopBanner {
	display: block;
	max-width: 100%;
  }
  
  .mobileBanner {
	display: none;
	max-width: 100%;
  }

  .bannerWrapper {
	display: flex;
	justify-content: center;
  }
  
  @media (max-width: 959px) {
	.desktopBanner {
	  display: none;
	}
  
	.mobileBanner {
	  display: block;
	}
  }
  