.wrapper {
	margin-top: 30px;
	display: flex;
	color: #000;
	height: fit-content;
	justify-content: space-between;
}

.left, .right {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	padding: 20px 40px;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}

.image {
	max-width: 100%;
}

@media (max-width: 960px) {
	.wrapper {
		flex-direction: column;
	}

	.left, .right {
		width: 100%;
	}

	.left {
		padding: 15px;
	}
}