.cardWrapper {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.card {
	background-color: #00A9E0;
	padding: 0 15px 15px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cardParagraph {
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}

.inside {
	max-width: 280px;
}

.cardTitle {
	color: #fff;
	margin-top: 10px;
}

.image {
	width: 250px;
}

@media (max-width: 960px) {
	.cardWrapper {
		flex-direction: column;
		align-items: center;
	}
}