.cardWrapper {
	max-width: 800px;
	margin-bottom: 50px;
}

.cardTitle {
	font-size: 32px;
	margin: 5px 0;
}

.cardParagraph {
	font-size: 24px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.sectionTitle {
	text-align: center;
}

@media (max-width: 1600px) {
	.cardWrapper {
		max-width: 500px;
	}

	.cardParagraph {
		font-size: 18px;
	}
}

@media (max-width: 960px) {
	.cardWrapper {
		padding: 15px 0;
		margin-bottom: 0;
	}

	.cardTitle {
		font-size: 24px;
	}
	
	.cardParagraph {
		font-size: 16px;
		padding: 15px;
	}

}