.title {
	margin-bottom: 20px;
}

.btn {
	color: #00A9E0;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0;
}

.hidden {
	margin: 20px 0;
	font-size: 24px;
	color: #003b5e;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
  }
  
  .listItem {
	cursor: pointer;
	text-align: left;
  }

  .listItem:nth-child(1) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .title {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	align-items: center;
	padding: 20px 20px;
	font-size: 32px;
	color: #003b5e;
	width: 100%;
	box-sizing: border-box;
  }
  
  .p {
	padding: 10px 20px;
	font-size: 24px;
  }
  
  .link {
	color: #00b6ed;
	text-decoration: none;
  }
  
 

@media (max-width: 960px) {
	.hidden {
		line-height: 1.5;
		padding: 0 15px;
	}

	.btn {
		margin-left: 15px;
	}

	.list {
		padding: 0 10px;
	}

	.title {
		font-size: 24px;
	}
}