.wrapper {
	margin-top: 80px;
	display: flex;
	color: #fff;
	height: fit-content;
	justify-content: space-between;
}

.left, .right {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	padding: 20px;
	background-color: #002c48;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}

.image {
	max-width: 100%;
}

@media (max-width: 960px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.left, .right {
		width: 100%;
	}

	.left {
		box-sizing: border-box;
		padding: 30px;
	}
}