.container {
	display: flex;
    padding: 50px 0 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}

.post {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 70px;
    justify-content: center;
    align-items: center;
	gap: 10px;
}

.image {
    max-width: 200px;
}

.p {
    font-size: 12px;
}

.link {
    font-size: 12px;
}

@media (max-width: 960px) {
    .container {
        flex-direction: column;
		justify-content: center;
		align-items: center;
        gap: 50px;
    }
    
    .item {
        flex: 80%;
    }
}