.title {
	text-align: center;
	background-color: #00a9e0;
	color: #fff;
	margin: 0;
	padding: 100px 15px;
}

.listTitle {
	font-size: 48px;
	text-align: left;
	margin-bottom: 10px;
	color: #003b5e;
}

.list {
	font-size: 2rem;
	color: #003b5e;
}

.listItem {
	text-align: left;
	padding-left: 15px;
	font-size: 24px;
}

.wrapper {
	min-height: 60vh;
}

.faqLink {
	color: #003b5e;
}

.border {
	border: 1px solid #003b5e;
	width: fit-content;
	margin: 0 auto;
	padding: 10px 20px;
}

.smaller_left {
	font-size: 28px;
	color: #003b5e;
	text-align: left;
}

.bigger_left {
	color: #003b5e;
	text-align: left;
	font-size: 32px;
}

.smallerP {
	text-align: left;
	font-size: 24px;
}

@media (max-width: 960px) {
	.smaller_left {
		font-size: 20px;
	}
	
	.bigger_left {
		font-size: 24px;
	}
	
	.smallerP {
		font-size: 18px;
	}

	.title {
		font-size: 38px;
		padding: 50px 15px;
	}

	.list {
		padding: 40px;
		box-sizing: border-box;
		margin-top: 0;
	}

	.listItem {
		font-size: 18px;
	}

	.listTitle {
		font-size: 32px;
		margin-bottom: 10px;
	}
}