.title {
	text-align: center;
	background-color: #00a9e0;
	color: #fff;
	margin: 0;
	padding: 100px 15px;
}

.listTitle {
	font-size: 48px;
	text-align: left;
	margin-bottom: 10px;
	color: #003b5e;
}

.list {
	font-size: 2rem;
	color: #003b5e;
}

.listItem {
	text-align: left;
	padding-left: 15px;
	font-size: 24px;
}

.wrapper {
	min-height: 60vh;
}

.faqLink {
	color: #003b5e;
}

@media (max-width: 960px) {
	.title {
		font-size: 38px;
		padding: 50px 15px;
	}

	.list {
		font-size: 1.4rem;
		padding: 40px;
		box-sizing: border-box;
		margin-top: 0;
	}

	.listTitle {
		font-size: 32px;
		margin-bottom: 10px;
	}
}