.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: hidden;
  }
  
  .carousel {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	overflow: hidden;
	gap: 50px;
  }
  
  .item {
	flex: 0 0 auto;
	transition: transform 0.3s ease;
	cursor: pointer;
  }
  
  .itemSelected {
	transform: scale(1.1);
	z-index: 1;
  }
  
  .imgContainer {
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;
	margin: 0 10px;
  }
  
  .imgContainer img {
	max-width: 100%;
	max-height: 100%;
  }
  
  .itemInfo {
	text-align: center;
	margin-top: 20px;

	h3 {
		font-size: 24px;
	}

	p {
		font-size: 18px;
	}
  }

  .sectionTitle {
	margin-bottom: 150px!important;
  }
  
  .carouselButtons {
	display: flex;
	justify-content: space-between;
	width: 100px;
	margin-top: 10px;
  }
  
  .carouselButton {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
  }
  
  @media (max-width: 960px) {
	.carousel {
		gap: 10px;
	}

	.imgContainer {
		width: 150px;
		height: 150px;
	}
  }