.container {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .carousel {
	display: flex;
	transition: transform 0.5s ease-in-out;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
  }
  
  .item {
	flex: 0 0 auto;
	margin: 0 10px;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	transform: scale(0.8);
  }
  
  .itemSelected {
	opacity: 1;
	transform: scale(1);
  }
  
  .imgContainer {
	width: 200px; /* Adjust size as needed */
	height: 200px; /* Adjust size as needed */
	text-align: center;
  }
  
  .imgContainer img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
  }
  
  .itemInfo {
	text-align: center;
	margin-top: 20px;
  }
  
  .linkSpan {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
  }
  
  .discoverZyn {
	text-align: center;
	margin-top: 20px;
  }
  
  .learnMore {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
  }
  
  .carouselButtons {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
  }
  
  .carouselButton {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #007bff;
  }
  