.list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
	padding: 0;
}

.navItem {
	width: 600px;
}

.link {
    text-decoration: none;
    color: #124969;
    font-weight: 500;
    font-size: 20px;
    transition: 0.5s ease;
}

.link:hover {
    color: #21a7d9;
}

.hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
	margin-bottom: 0;
}

.desktop {
    display: block;
}

.left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.middle {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 250px;
}

@media (max-width: 800px) {
    .desktop {
        display: none;
    }

    .hr {
        margin: 0;
    }
}