.hamburgerMenu {
    display: none;
}

@media (max-width: 800px) {

    .hamburgerMenu {
        display: block;
        height: 0;
    }

    #menuToggle {
        opacity: 0;
    }
    #menuToggle:checked + .menuBtn > span {
        top: 10px;
        transform: rotate(-45deg);
    }
    #menuToggle:checked + .menuBtn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menuToggle:checked + .menuBtn > span::after {
        top: 0;
        transform: rotate(-90deg);
    }
    #menuToggle:checked ~ .menuBox {
        left: 0 !important;
    }
    .menuBtn {
        position: fixed;
        top: 32px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menuBtn > span,
    .menuBtn > span::before,
    .menuBtn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menuBtn > span::before {
        content: '';
        top: 8px;
    }
    .menuBtn > span::after {
        content: '';
        top: 16px;
    }
    .menuBox {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menuItem {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menuItem:hover {
       background-color: #CFD8DC;
    }

    .link {
        text-decoration: none;
        color: #124969;
        font-weight: 500;
        font-size: 20px;
        transition: 0.5s ease;
    }
    
    .link:hover {
        color: #21a7d9;
    }
}