.container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    flex: 25%;
    max-width: 250px;
    min-width: 70px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
    
    .item {
        flex: 80%;
    }
}