.container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 50px 0;
    flex-wrap: wrap;
    align-items: center;
	gap: 20px;
}

.item {
    flex: 25%;
    max-width: 250px;
    min-width: 70px;
    margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img {
	width: 200px;
}

.imgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

.itemLink {
	color: #009DD1;
	font-weight: bold;
}

@media (max-width: 960px) {
    .container {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
    
    .item {
        flex: 40%;
    }

	.img {
		width: 150px;
	}
}