p {
  line-height: 1.5;
}

h3 {
  font-size: 1.2rem;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    margin-top: 35px;
  }

  .wrapper > h3,
  .wrapper > h2,
  .wrapper > p {
    padding: 0 15px;
  }
}
