@font-face {
	font-family: 'Gotham Black';
	src: url('../public/fonts/Gotham-Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Bold';
	src: url('../public/fonts/Gotham-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Book Italic';
	src: url('../public/fonts/Gotham-BookItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Light';
	src: url('../public/fonts/Gotham-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Thin';
	src: url('../public/fonts/Gotham-Thin.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Thin Italic';
	src: url('../public/fonts/Gotham-ThinItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Ultra Italic';
	src: url('../public/fonts/Gotham-UltraItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Extra Light';
	src: url('../public/fonts/Gotham-XLight.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Extra Light Italic';
	src: url('../public/fonts/Gotham-XLightItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
* {
    padding: 0;
    margin: 0;
    font-family: 'Gotham Black', sans-serif;
	box-sizing: border-box;
}

@media (max-width: 960px) {
    body {
        padding-top: 80px;
    }
}