@font-face {
	font-family: 'Gotham Black';
	src: url('../public/fonts/Gotham-Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Bold';
	src: url('../public/fonts/Gotham-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Book Italic';
	src: url('../public/fonts/Gotham-BookItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Light';
	src: url('../public/fonts/Gotham-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Thin';
	src: url('../public/fonts/Gotham-Thin.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Thin Italic';
	src: url('../public/fonts/Gotham-ThinItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Ultra Italic';
	src: url('../public/fonts/Gotham-UltraItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Extra Light';
	src: url('../public/fonts/Gotham-XLight.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Extra Light Italic';
	src: url('../public/fonts/Gotham-XLightItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Bold';
	src: url('../public/fonts/GothamBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Bold Italic';
	src: url('../public/fonts/GothamBoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Book';
	src: url('../public/fonts/GothamBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Book Italic';
	src: url('../public/fonts/GothamBookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Light';
	src: url('../public/fonts/GothamLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Light Italic';
	src: url('../public/fonts/GothamLightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Medium';
	src: url('../public/fonts/GothamMedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Gotham Medium Italic';
	src: url('../public/fonts/GothamMediumItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'Gotham Medium 1';
	src: url('../public/fonts/GothamMedium_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  

* {
    padding: 0;
    margin: 0;
    font-family: 'Gotham Book', sans-serif;
	box-sizing: border-box;
}

@media (max-width: 960px) {
    body {
        padding-top: 80px;
    }
}