.articleImg {
	width: 200px;
}

.sectionWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.blogLink {
	text-decoration: none;
	color: #000;
}

@media (max-width: 960px) {
	.sectionWrapper {
		flex-direction: column;
		gap: 20px;
	}
}