.container {
	display: flex;
	justify-content: center;
}

.right {
	background-color: #00a9e0;
	padding: 50px;
}

.imageRight {
	max-width: 500px;
}

.left {
	display: flex;
	flex-direction: column;
	padding: 50px;
}

.cardInfo > p {
	margin: 0;
}

.card {
	display: flex;
	gap: 20px;
}

.cardInfo {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	gap: 15px;
}

.smallerP {
	font-size: 14px;
}

.biggerP {
	font-size: 20px;
}

@media (max-width: 960px) {
	.container {
		flex-direction: column;
	}

	.left, .right {
		padding: 20px;
	}

	.left {
		gap: 20px;
		justify-content: center;
		align-items: center;
	}

	.smallerP {
		font-size: 14px;
	}
	
	.biggerP {
		font-size: 16px;
	}

	.imageRight {
		max-width: 100%;
	}

	.card {
		gap: 30px;
		width: 100%;
		justify-content: center;
	}

	.cardInfo {
		min-width: 60%;
	}
}