.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.listItem {
  cursor: pointer;
  text-align: left;
}

.listTitle {
	color: #003b5e;
	font-size: 28px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  padding: 20px 20px;
}

.p {
  font-size: 18px;
  padding: 10px 20px;
}

.link {
  color: #00b6ed;
  text-decoration: none;
}

@media (max-width: 960px) {
	.list {
		padding: 0 10px;
	}
}
