.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.listItem {
  background-color: rgb(209, 222, 228);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  padding: 20px 20px;
}

.p {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 20px;
}

.link {
  color: #00b6ed;
  text-decoration: none;
}
