#footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: #fff;
    background-color: #003b5e;
    transition: background-color 0.2s ease;
    padding: 5px 30px;
    width: 100%;
    border: none;
}

.link:hover {
    background-color: #007ea8;
    text-decoration: underline;
}

.item {
    width: 25%;
    max-width: 300px;
}

@media (max-width: 800px) {
    #footer {
        flex-direction: column;
        align-items: center;
    }

    .list {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .item {
        width: 90%;
    }
}